//
// Quantum Script Extension Console
//
// Copyright (c) 2020 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "quantum-script-extension-console-version.hpp"
#include "quantum-script-extension-console-copyright.hpp"

XYO_APPLICATION_VERSION_INFO(QUANTUM_SCRIPT_EXTENSION_CONSOLE,"qse-console.dll","Quantum Script Extension Console")
